/* Universal Classes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hvr-warning:hover {
    color: var(--admin-warning) !important;
}

/* Root Colors */
:root {
    --admin-gray: rgb(84, 80, 80);
    --admin-black: #000;
    --admin-warning: orange;
    --admin-purple: rgb(194, 49, 163);
    --admin-lightblue: rgb(178, 223, 255);
    --admin-info: #0dcaf0;
}

/* Navigation */
nav.navbar,
nav.navbar ul.dropdown-menu {
    background: rgb(84, 80, 80);
}

nav.navbar a {
    color: white !important;
}

nav.navbar .active {
    color: orange !important;
}

nav.navbar ul.navbar-nav li a:hover,
nav.navbar ul.dropdown-menu li a:hover {
    background: rgb(126, 115, 115);
    color: orange !important;
}

nav.navbar .navbar-brand:hover {
    color: white;
}

nav.navbar div.d-flex {
    padding: .2em;
}

nav ul li.nav-item button {
    background-color: transparent;
    border:none;
}

nav ul li.nav-item button span {
    color: white;
}

nav ul li.nav-item button span:hover {
    color: white;
}

nav.navbar img {
    width: 35px;
    margin-left: .2em;
}

/* --END Navigation== */
/* dashboard */
section.dashboard .icon ion-icon {
    font-size: 45px;

}

section.dashboard .icon {
    border: .5px solid white;
    border-radius: 45px;
    padding: .5em;
}

/* End Dashboar */
section.list .row>div {
    height: 65vh;
}

/* Instructor-view */
section.instructor-view .col-lg-6 ul.list-group li>span {
    background-color: lightblue !important;
}

section.instructor-view .container>.d-flex {
    padding: 0 !important;
}

/* add instructor */

.form-style form input,
.form-style form select, .form-style form textarea {
    font-size: 12px !important;
    background: #f7f5f5;
}
.form-style form textarea::placeholder{
    font-size: 12px !important;
}

.form-style form input.btn {
    background: var(--admin-info);
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}
.form-style form input.btn:hover{
    background:rgb(157, 200, 231);
    color: black;
}

.form-style form input:invalid {
    outline-color: red !important;
    border-color: red;
}

.form-style form input:valid {
    border-color: greenyellow;
}

.form-style form::-webkit-input-placeholder {
    font-size: 12px !important;
}

.form-style form input:focus,
.form-style form select:focus {
    box-shadow: none;
}

.form-style form label {
    font-size: 14px;
    color: #6c757d;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.error-feedback{
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red; 
}
/* End of Add Instructor */
/* Admin Login */
section.login{
    height: 100vh;
    background:var(--admin-gray);
}
section.login>div{
    height: auto; 
    border: 1px solid white; 
    background:#d2d3d5;
}

/* Add Course */

@media (max-width:768px) {
    section.list .row>div {
        height: auto;
    }




}

/* media queries */
@media (max-width: 425px) {
    section.instructor-view .container>.d-flex {
        flex-wrap: wrap !important;
    }

    section.instructor-view .container>.d-flex>div {
        margin: 1em 0 0 0 !important;
        width: 100%;
    }

    section.instructor-view .container img {
        width: 150px;
    }


    /* instructor-list */
    .list .inst-list img {
        max-width: 50% !important;
    }

    /* ck-editor */
    .ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
        flex-wrap: wrap;
    }

}